<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../../output.css" rel="stylesheet" />
    <title>Manager Main Page</title>
  </head>

  <body
    class="bg-[#E0FAEF] m-0 p-0 overflow-hidden gap-6 flex flex-col h-screen"
  >
    <!-- ADD ITEM POPUP -->
    <div
      id="addItemPopup"
      class="hidden fixed inset-0 bg-black/40 z-50 items-center justify-center"
    >
      <div class="bg-[#E0FAEF] rounded-2xl w-[900px] p-8 relative">
        <!-- CLOSE BUTTON -->
        <button
          id="closePopupBtn"
          class="absolute top-4 right-4 text-xl font-bold cursor-pointer"
        >
          ✕
        </button>

        <h2 class="text-2xl font-bold text-[#105E3C] mb-6">Add New Item</h2>

        <input
          id="popupImageUpload"
          type="file"
          accept="image/*"
          class="hidden"
        />

        <div class="flex gap-6">
          <!-- LEFT IMAGE -->
          <div class="flex flex-col items-center gap-3">
            <button
              id="imagePreviewBtn"
              type="button"
              onclick="document.getElementById('popupImageUpload').click()"
              class="w-68 h-68 bg-[#137048] text-white rounded-2xl flex items-center justify-center overflow-hidden cursor-pointer"
            >
              <span
                id="popupImagePlaceholder"
                class="flex flex-col items-center gap-2"
              >
                <span class="text-3xl">＋</span>
                Add Image
              </span>
            </button>

            <span
              id="popupFileName"
              class="text-sm text-green-600 text-center w-40 wrap-break-words"
            ></span>
          </div>

          <!-- RIGHT FORM -->
          <div class="flex-1 space-y-4">
            <div class="pr-4 pl-4">
              <h2
                class="font-bold text-[24px] md:text-[18px] lg:text-[20px] text-[#36A273]"
              >
                Name
              </h2>
              <input
                id="popupItemName"
                type="text"
                placeholder="Item Name"
                class="w-full p-3 rounded-md bg-white"
              />
            </div>
            <div class="pr-4 pl-4">
              <h2
                class="font-bold text-[24px] md:text-[18px] lg:text-[20px] text-[#36A273]"
              >
                Price
              </h2>
              <input
                id="popupItemPrice"
                type="number"
                placeholder="Price"
                class="w-full p-3 rounded-md bg-white [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
                onkeydown="return !['e','E','+','-','.'].includes(event.key)"
              />
            </div>
            <div class="pr-4 pl-4">
              <h2
                class="font-bold text-[24px] md:text-[18px] lg:text-[20px] text-[#36A273]"
              >
                Stock
              </h2>
              <input
                id="popupStockInput"
                type="number"
                value="1"
                class="w-full p-3 rounded-md bg-white [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
                onkeydown="return !['e','E','+','-','.'].includes(event.key)"
              />
            </div>
          </div>
        </div>

        <div class="flex justify-end gap-4 mt-8">
          <button id="discardBtn" class="px-6 py-2 border rounded-full">
            Discard
          </button>

          <button
            id="popupSaveButton"
            class="px-6 py-2 bg-[#137048] text-white rounded-full"
          >
            Save
          </button>
        </div>
      </div>
    </div>

    <!-- NAVBAR -->
    <nav
      class="flex items-center justify-between bg-[#137048] shadow-[1px_3px_20px_#181515] px-4 md:px-12 py-3"
    >
      <div
        class="flex items-center gap-4 md:gap-7 text-[22px] md:text-[30px] font-bold text-white drop-shadow-[2px_2px_8px_#181515]"
      >
        <img src="/src/assets/Logo.svg" class="w-[35px] md:w-10" alt="" />
        <p>ASEP'S POS</p>
      </div>

      <div class="flex flex-1 justify-center gap-20">
        <div data-icon="stock" onclick="selectCategory(this)">
          <img
            src="/src/assets/stock.svg"
            class="aspect-square w-5 sm:w-6 lg:w-8 xl:w-10 cursor-pointer"
            alt=""
          />
        </div>

        <a
          href="history.html"
          data-icon="history"
          onclick="selectCategory(this)"
        >
          <img
            src="/src/assets/history.svg"
            class="aspect-square w-5 sm:w-6 lg:w-8 xl:w-10 cursor-pointer"
            alt="History"
          />
        </a>

        <a
          href="summary.html"
          data-icon="summary"
          onclick="selectCategory(this)"
        >
          <img
            src="/src/assets/summary.svg"
            class="aspect-square w-5 sm:w-6 lg:w-8 xl:w-10 cursor-pointer"
            alt="Summary"
          />
        </a>
      </div>

      <button
        id="logoutBtn"
        class="bg-[#CDF7E5] text-[#1A955F] font-['inter'] border-2 border-[#27DD8E] px-8 py-2 rounded-full cursor-pointer text-[16px] md:text-[19px] font-bold w-40 md:w-52 hover:bg-white transition-all duration-200"
        type="button"
      >
        Logout
      </button>
    </nav>

    <div
      class="flex flex-row gap-3 md:gap-5 lg:gap-8 px-3 md:px-6 lg:px-12 pb-3 md:pb-6 lg:pb-12 flex-1 overflow-hidden"
    >
      <!-- COL 1 -->
      <div class="flex flex-col gap-3 md:gap-5 lg:gap-8 flex-1 min-w-0">
        <!-- ITEMS BOX -->
        <div
          class="w-88 sm:w-auto flex flex-col gap-4 md:gap-8 lg:gap-12 flex-5 bg-white p-3 md:p-4 lg:p-5 pt-3 md:pt-4 lg:pt-6 rounded-xl shadow-xl/20 overflow-y-auto"
        >
          <div class="flex items-center justify-between mb-4">
            <button
              class="flex items-center gap-1 text-[#27DD8E] font-bold text-2xl cursor-pointer"
              type="button"
              id="addItemBtn"
            >
              + ADD NEW ITEM
            </button>
            <div class="flex flex-col sm:flex-row justify-end gap-3 ml-[100px]">
              <div class="relative w-full sm:w-48 md:w-56 lg:w-[260px]">
                <img
                  src="/src/assets/Searchlogo.svg"
                  alt="Search"
                  class="absolute left-3 top-1/2 -translate-y-1/2 w-4 h-4 opacity-60 pointer-events-none"
                />

                <input
                  id="searchInput"
                  type="text"
                  placeholder="Search items here"
                  class="w-full pl-9 px-3 py-2 rounded-[40px] border-1 border-[#999] text-sm md:text-base focus:outline-none"
                />
              </div>
            </div>
          </div>

          <div
            id="itemGrid"
            class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-4"
          >
            <!-- Items will be added here dynamically -->
          </div>
        </div>
      </div>

      <!-- COL 2 -->
      <div class="flex flex-col gap-3 md:gap-5 lg:gap-8 min-w-0">
        <!-- EDIT BOX -->
        <div
          class="w-48 sm:w-64 xl:w-lg flex flex-col bg-white rounded-xl shadow-xl/20 overflow-y-auto border-2 border-[#d4cccc] pb-8"
        >
          <div
            class="flex flex-col gap-4 p-3 md:p-4 lg:p-5 pt-3 md:pt-4 lg:pt-6 border-b-3 border-[#ccc]"
          >
            <h2
              class="font-bold text-center text-[35px] md:text-[22px] lg:text-[25px] text-[#105E3C]"
            >
              Description
            </h2>
          </div>

          <!-- input box -->
          <div>
            <div class="pr-4 pl-4 pt-4">
              <h2
                class="font-bold text-[35px] md:text-[22px] lg:text-[25px] text-[#36A273]"
              >
                Name
              </h2>
              <input
                type="text"
                id="itemName"
                placeholder="Item Name"
                required
                class="w-full p-3 border border-gray-300 rounded-md focus:outline-none bg-gray-100"
              />
            </div>

            <div class="pr-4 pl-4 pt-4">
              <h2
                class="font-bold text-[35px] md:text-[22px] lg:text-[25px] text-[#36A273]"
              >
                Price
              </h2>
              <input
                type="number"
                id="itemPrice"
                placeholder="Price in NTD"
                required
                class="w-full p-3 border border-gray-300 rounded-md focus:outline-none bg-gray-100 outline-none flex-1 [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
                onkeydown="return !['e','E','+','-','.'].includes(event.key)"
              />
            </div>

            <div class="pr-4 pl-4 pt-4">
              <p
                class="font-bold text-[35px] md:text-[22px] lg:text-[25px] text-[#36A273]"
              >
                Stock
              </p>
              <div class="flex items-center gap-3 mt-2">
                <button
                  id="minusStock"
                  class="w-8 h-8 bg-gray-200 rounded font-bold"
                >
                  −
                </button>
                <input
                  id="stockInput"
                  type="number"
                  value="1"
                  required
                  placeholder="."
                  class="w-16 h-8 rounded bg-gray-100 text-center px-0 [appearance:textfield] [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:appearance-none"
                />
                <button
                  id="plusStock"
                  class="w-8 h-8 bg-gray-200 rounded font-bold"
                >
                  +
                </button>
              </div>
            </div>

            <div class="pr-4 pl-4 pt-4">
              <p
                class="font-bold text-[35px] md:text-[22px] lg:text-[25px] text-[#36A273]"
              >
                Image
              </p>
              <!-- Hidden real file input -->
              <input
                id="imageUpload"
                type="file"
                accept="image/*"
                class="hidden"
                placeholder="."
              />
              <div class="flex items-center gap-3">
                <button
                  type="button"
                  onclick="document.getElementById('imageUpload').click()"
                  class="p-3 border border-gray-300 rounded-md bg-gray-100 text-left text-gray-500 hover:bg-gray-200 transition"
                  id="fakeUpload"
                >
                  Upload Image
                </button>
                <div class="flex items-center gap-3 mt-2">
                  <span
                    id="fileName"
                    class="text-sm text-green-600 hidden"
                  ></span>
                  <button
                    id="removeImage"
                    class="text-[#7B7B7B] rounded text-sm hidden"
                  >
                    X
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- SAVE & DELETE BUTTONS -->
        <div class="flex gap-6">
          <button
            id="saveButton"
            class="flex-1 h-[100px] bg-[#27DD8E] text-white font-bold text-2xl rounded-xl shadow-xl flex items-center justify-center"
          >
            Save
          </button>

          <button
            id="deleteButton"
            class="flex-1 h-[100px] bg-red-500 text-white font-bold text-2xl rounded-xl shadow-xl flex items-center justify-center"
          >
            Delete
          </button>
        </div>
      </div>
    </div>

    <script src="main.js"></script>
  </body>
</html>
