<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../../output.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Aclonica&display=swap"
      rel="stylesheet"
    />
  </head>

  <body
    class="bg-[#E0FAEF] m-0 p-0 overflow-hidden gap-6 flex flex-col h-screen"
  >
    <!-- NAVBAR -->
    <nav
      class="flex items-center justify-between bg-[#137048] shadow-[1px_3px_20px_#181515] px-4 md:px-12 py-3"
    >
      <div
        class="flex items-center gap-4 md:gap-7 text-[22px] md:text-[30px] font-bold text-white drop-shadow-[2px_2px_8px_#181515]"
      >
        <img src="/src/assets/Logo.svg" class="w-[35px] md:w-10" alt="" />
        <p class="font-['Aclonica']">ASEP'S POS</p>
      </div>

      <div class="flex flex-1 justify-center gap-20">
        <div data-icon="stock" onclick="selectCategory(this)">
          <img
            src="/src/assets/stock.svg"
            class="aspect-square w-5 sm:w-6 lg:w-8 xl:w-10 cursor-pointer"
            alt=""
          />
        </div>

        <a
          href="history.html"
          data-icon="history"
          onclick="selectCategory(this)"
        >
          <img
            src="/src/assets/history.svg"
            class="aspect-square w-5 sm:w-6 lg:w-8 xl:w-10 cursor-pointer"
            alt="History"
          />
        </a>

        <a
          href="summary.html"
          data-icon="summary"
          onclick="selectCategory(this)"
        >
          <img
            src="/src/assets/summary.svg"
            class="aspect-square w-5 sm:w-6 lg:w-8 xl:w-10 cursor-pointer"
            alt="Summary"
          />
        </a>
      </div>

      <form action="/logout" method="POST">
        <button
          class="bg-[#CDF7E5] text-[#1A955F] font-['inter'] border-2 border-[#27DD8E] px-8 py-2 rounded-full cursor-pointer text-[16px] md:text-[19px] font-bold w-40 md:w-52 hover:bg-white transition-all duration-200"
          type="submit"
        >
          Logout
        </button>
      </form>
    </nav>

    <div class="flex-1 overflow-y-auto px-6 py-6 space-y-6">
      <!-- TOP ROW BOX-->
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
        <!-- Total Revenue -->
        <div
          class="bg-white rounded-2xl p-5 shadow-[0_6px_20px_rgba(0,0,0,0.08)] flex flex-col gap-4"
        >
          <div class="flex items-center gap-4">
            <img src="/src/assets/sale.svg" class="w-10 h-10 shrink-0" />
            <div>
              <p class="text-sm text-gray-500">Total Revenue</p>
              <p class="text-2xl font-bold"></p>
            </div>
          </div>
        </div>

        <!-- Total Order -->
        <div
          class="bg-white rounded-2xl p-5 shadow-[0_6px_20px_rgba(0,0,0,0.08)] flex flex-col gap-4"
        >
          <div class="flex items-center gap-4">
            <img src="/src/assets/order.svg" class="w-10 h-10 shrink-0" />
            <div>
              <p class="text-sm text-gray-500">Total Order</p>
              <p class="text-2xl font-bold">$215,860</p>
            </div>
          </div>
        </div>

        <!-- Total Customer -->
        <div
          class="bg-white rounded-2xl p-5 shadow-[0_6px_20px_rgba(0,0,0,0.08)] flex flex-col gap-4"
        >
          <div class="flex items-center gap-4">
            <img src="/src/assets/Customer.svg" class="w-10 h-10 shrink-0" />
            <div>
              <p class="text-sm text-gray-500">Total Customer</p>
              <p class="text-2xl font-bold">$215,860</p>
            </div>
          </div>
        </div>

        <!-- Total Sale -->
        <div
          class="bg-white rounded-2xl p-5 shadow-[0_6px_20px_rgba(0,0,0,0.08)] flex flex-col gap-4"
        >
          <div class="flex items-center gap-4">
            <img src="/src/assets/chart.svg" class="w-10 h-10 shrink-0" />
            <div>
              <p class="text-sm text-gray-500">Total Sale</p>
              <p class="text-2xl font-bold">$215,860</p>
            </div>
          </div>
        </div>
      </div>
      <!-- BOTTOM ROW : 2 LARGE BOXES -->
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
        <!-- BOX 5 (wide) -->
        <div
          class="lg:col-span-2 bg-white rounded-2xl p-6 shadow-[0_6px_20px_rgba(0,0,0,0.08)]"
        >
          <h2 class="font-bold text-lg mb-4">Sales & Revenue</h2>
          <div class="h-72 flex items-center justify-center text-gray-400">
            <!-- Line chart -->
          </div>
        </div>

        <!-- BOX 6 -->
        <div
          class="lg:col-span-1 bg-white rounded-2xl p-6 shadow-[0_6px_20px_rgba(0,0,0,0.08)]"
        >
          <h2 class="font-bold text-lg mb-4">Best Selling Food</h2>
          <div class="h-72 flex items-start justify-start text-gray-400">
            <!--Donut chart-->
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="Summary.js"></script>
  </body>
</html>
