@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  font-family: "Inter", sans-serif !important;
}

.test-class {
  background-color: red;
}

/* @media only screen and (min-width: 1024px) {
  .catalog-img {
    height: 8rem !important;
    width: 100% !important;
  }
}

@media only screen and (min-width: 1440px) {
  .catalog-img {
    height: 10rem !important;
    width: 100% !important;
  }
} */
