@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Aclonica&display=swap");

html,
body {
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.test-class {
  background-color: red;
}

/* @media only screen and (min-width: 1024px) {
  .catalog-img {
    height: 8rem !important;
    width: 100% !important;
  }
}

@media only screen and (min-width: 1440px) {
  .catalog-img {
    height: 10rem !important;
    width: 100% !important;
  }
} */
